body{
    text-align: center;
}
.btn{
    width:100px;
    height:100px;
    border:10px solid black;
    border-radius: 20%;
    margin: 10px;
}
.maincontainer{
       display: flex;
       justify-content: center;
}
.pink{
    background-color: palevioletred;
}
.red{
    background-color:red;
}
.green{
    background-color:green
}
.blue{
    background-color:skyblue;
}
.flash{
    background-color: beige;
}
.userflash{
    background-color:yellow;
}